@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
  --body-bg: #7bdaf3;
  --note-bg: #fff;
  --note-shadow: rgba(0, 0, 0, 0.1);
  --text-color: #000;
  --green: #9ec862;
}

html.dark-theme {
  --body-bg: #222;
  --note-bg: #444;
  --note-shadow: rgba(255, 255, 255, 0.02);
  --text-color: #f1f1f1;
  --green: #71a32a;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 3rem;
}

.buttons {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 15px;
}

.add,
#toggle-theme + label {
  background-color: var(--green);
  border-radius: 3px;
  cursor: pointer;
}

.add {
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
}

#toggle-theme {
  display: none;
}

#toggle-theme + label {
  width: 80px;
  height: 100%;
  display: inline-block;
  padding: 4px;
}

#toggle-theme + label .slider {
  background-color: #fff;
  width: 50%;
  height: 100%;
  margin-left: 0;
  border-radius: 3px;
  transition: margin-left 0.35s ease;
  position: relative;
}

#toggle-theme:checked + label .slider {
  margin-left: 50%;
}

#toggle-theme + label .slider i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

#toggle-theme:not(:checked) + label .slider i.fa-sun {
  color: rgb(250, 207, 16);
  opacity: 1;
}

#toggle-theme:checked + label .slider i.fa-moon {
  color: rgb(71, 71, 71);
  opacity: 1;
}

.note {
  background-color: var(--note-bg);
  color: var(--text-color);
  box-shadow: 0 0 10px 4px var(--note-shadow);
  margin: 30px 20px;
  height: 400px;
  width: 100%;
  max-width: 400px;
}

.note .tools {
  background-color: var(--green);
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  margin: 0 0 0 1rem;
  border: none;
  cursor: pointer;
}

.note .main {
  padding: 0 20px 20px;
  width: 100%;
  height: calc(100% - 36px);
  overflow: auto;
}

.note textarea {
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  outline: none;
  padding: 20px;
  height: 100%;
  width: 100%;
  resize: none;
}

.hidden {
  display: none;
}
